.login{
  display: grid;
  grid-template-columns: 1fr;
  background: url("../Assets/mountain2.png") no-repeat center / cover;
  height: 80vh;
  align-items: center;
  justify-items: center;
}

.login-bg-div{
  background-color: #3C3D48;
  padding: 4%;
  width: 50%;

}

.login-form{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* .login-inputs{
  display: grid;
  grid-template-columns: 1fr;
} */

.login-form > label{
  padding: 1%;
}

.login-button{
  width: 60%;
}
.register-link{
  color: #EBEFDE;
}


.registration-bg-div{
  background-color: #3C3D48;
  /* display: flex;
  flex-direction: column; */
  padding: 4%;
  width: 50%;
}