.login{
  display: grid;
  grid-template-columns: 1fr;
  background: url("../Assets/mountain2.png") no-repeat center / cover;
  height: 83vh;
  align-items: center;
  justify-items: center;
}

.login-bg-div{
  background-color: #3C3D48;
  padding: 4%;
  width: 50%;

}

.login-form{
  display: grid;
  width: 100%;
  /* grid-template-columns: .5fr .5fr; */
  /* flex-direction: column; */
  justify-items: center;
  align-items: center;
}

/* .login-inputs{
  display: grid;
  grid-template-columns: 1fr;
} */

.login-form > label{
  padding: 1%;
  /* border: 2px solid green; */
  width: 40%;
}

.login-form > label>input{
  padding: 1%;
  /* border: 2px solid green; */
  width: 100%;
}

.login-button{
  background-color: #0B0915;
  border: none;
  font-size: 1.4rem;
  color: #EBEFDE;
  text-decoration: none;
  transition: 2s;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  padding: 1%;
  width: 30%;
  margin-top: 3%;
}

.login-button:hover{
  background-color: #31323b;
}
.register-link{
  color: #EBEFDE;
}


.registration-bg-div{
  background-color: #3C3D48;
  /* display: flex;
  flex-direction: column; */
  padding: 4%;
  width: 50%;
}