.registration{
  display: grid;
  grid-template-columns: 1fr;
  background: url("../Assets/mountain2.png") no-repeat center / cover;
  height: 83vh;
  align-items: center;
  justify-items: center;
}

.register-link{
  color: #EBEFDE;
}


.registration-bg-div{
  background-color: #3C3D48;
  padding: 4%;
  width: 50%;
}

.register-btn{
  background-color: #0B0915;
  border: none;
  font-size: 1.4rem;
  color: #EBEFDE;
  text-decoration: none;
  transition: 2s;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  padding: 2%;
  width: 80%;
  margin-top: 9%;
  align-self: center;
  justify-self: center;
}
.register-btn:hover {
  background-color: #2a2a33;
}

.login-registration > label>input{
  padding: 1%;
  width: 100%;
}

.login-registration{
  display: grid;
  justify-content: center;
}