.nav{
  height: 18vh;
  background-color: #3C3D48;
}
.logo{
  background: url("../Assets/logo.png") no-repeat center / contain;
  width: 50%;
  height: 50%;
}

.logo-div{
  display: grid;
  grid-template-columns: 7% 14% 47% 30%;
  width: 100%;
  justify-items: center;
  align-items: center;
  /* padding: 20px; */
  /* align-items: flex-start; */
}

.logo-title{
  font-size: 2.4rem;
  color: #EBEFDE;
  justify-self: left;
}
.nav-links {
  font-size: 1.5rem;
  width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.nav-links > a {
  color: #EBEFDE;
  text-decoration: none;
}